#content {
    position:absolute;
    width: calc(100% - 250px);
    padding: 20px;
    transition: all 0.3s;
    height: 95%;
    margin-left: 250px;
    margin-top: 82px;
    left: 250px; 
    top: 82px;
    bottom: 80px;
    right: 0px;        
    overflow: auto;
    padding:20px;
}

#content .hiding {
    display: none;
}

#content .showing {
    display: inline-block;
}