#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px;
    margin-top: 82px;
    left: 250px; 
    top: 82px;
    right: 0;
    padding:20px;
}

#content .hidden {
    display: none;
}

#content .showing {
    display: inline-block;
}