#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250;
    margin-top: 82;
    left: 250; 
    top:82px;
    right: 0;
    padding:20px;

}
