@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  width: 100%;
}

#errorInfo {
  position: fixed;
  font-size: 3em;
  right: 0;
  bottom: 0;
}

#errorInfo p {
  font-size: 0.5em;
  font-family: "sans-serif", cursive;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 82px;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded=true] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#content {
  width: calc(100% - 250px);
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  margin-left: 250px;
  margin-top: 82px;
  left: 250px;
  top: 82px;
  right: 0;
  padding: 20px;
}

#content .hiding {
  display: none;
}

#content .showing {
  display: inline-block;
}

* {
  box-sizing: border-box;
}

.topnav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 82px;
  z-index: 999;
  background: #6d7fcc;
  color: #fff;
  transition: all 0.3s;
}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #6d7fcc;
}

.topnav .topnav-header {
  float: left;
  padding: 20px 178px 20px 20px;
  background: #6d7fcc;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 25px 100px 35px 25px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #fff;
  color: #6d7fcc;
}

/* Active/current link */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the input container */
.topnav .login-container {
  padding: 12px;
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;
  /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style the button inside the input container */
.topnav .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background: #ccc;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
